html{
	background-color: #e5e5e5;
}

fieldset{
	width: 500px;
	margin: 150px auto;
	border: 1px solid #b5b5b5;
	background-color: #fff;
}

fieldset legend{
	text-align: center;
	font-size: 20px;
	font-family: calibri;
	padding: 0 5px;
}

label{
	font-family: calibri;
	font-size: 18px;
	color: #353535;
	margin: 5px 0;
}

input, textarea{
	margin: 5px 0;
	width: 100%;
	padding: 5px;
}

textarea{
	height: 150px;
	width: 100%;
	max-width: 100%;
	max-height: 200px;
}

#btnSalvar{
	border: none;
	background-color: #39848c;
	color: #fff;
	padding: 10px;
	cursor: pointer;
}

#btnEnviar, #btnSalvarSessao{
	border: none;
	background-color: #1b9dab;
	color: #fff;
	padding: 10px;
	cursor: pointer;
}