/* SIDE MENU */
.tooltip-side-menu {
  background: #2d5e75;
  position: absolute;
  bottom: 5px;
  left: 70px;
  border-radius: 0 5px 5px 5px;
  color: #2be2f1;
  padding: 10px 0px;
  width: 140px;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  transition: .4s ease;
  z-index: 1;
  opacity: 0;
  pointer-events: none;
}
label.tooltip-side-menu:before {
  width: 0;
  height: 0;
  border-top: 0px solid transparent;
  border-bottom: 14px solid transparent;
  border-right: 17px solid #2d5e75;
  content: ' ';
  box-sizing: border-box;
  position: absolute;
  left: -13px;
  top: 0px;
}
.side-menu-container {
	width: 100%;
	height: 40px;

	display: flex;

	position: fixed;
	bottom: 0;

	background: #1F4F66;
  z-index: 4;
  box-sizing: border-box;
  font-family: montserrat;
}
.side-menu-item.hide-mobile{
  display: none !important;
}
.menu--isActive {
	border-top: 4px solid #0AC5D4;
	background: #2D5E75;
}
.side-menu-container .side-menu-item:hover {
    border-top: 4px solid #0AC5D4;
    background: #2D5E75;
}
.side-menu-container .side-menu-item {
	width: 50%;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	cursor: pointer;
	transition: .2s ease;
}
.side-menu-container .side-menu-item *:not(.tooltip-side-menu) {
    cursor: pointer;
    height: 100% !important;
    position:relative;
	}
	.side-menu-container .side-menu-item svg {
		width: 18px;
		stroke-linecap: round;
		stroke-linejoin: round;
		stroke-width: 0.5px;
		fill: #0AC5D4;
		stroke: #0AC5D4;
  }
  .side-menu-container .side-menu-item svg#assistente{
    width: 32px;
  }

.side-menu-container .side-menu-item svg.menu-map-icon {
    width: 20px;
}

.side-menu-container .side-menu-item svg.notificacao-icon {
    fill: transparent;
    stroke-width: 1.8px;
    width: 20px;
}

.side-item {
	display: flex;
	justify-content: center;
  align-items: center;
  width: 60px;
}
.header-container {
  display: none;
  font-family: montserrat;
}

.header-link {
    text-transform: uppercase;
    font-size: 10px;
    color: #fff;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-link svg {
    fill: #fff;
    border: 1px solid #fff;
    border-radius: 100px;
    padding: 2px;
    margin-left: 5px;
    height: 20px;
    box-sizing: border-box;
}

.header-doc-btn {display: inline-flex;align-items: center;margin: 0 20px 0 auto;color: white;font-weight: 500;cursor: pointer;font-size: 14px;border-radius: 50px;transition: .2s ease;display: none;}
.header-doc-btn svg { height: 17px; margin: 0 10px 0 5px; fill: currentColor;}
.header-doc-btn:hover { color: #0ac5d4;}


.header-content .menu-carreira-bread > span, .header-content .menu-carreira-bread > a{
    color: #0AC5D4;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    margin: 0 10px;
    display: inline-block;
    transition: all .2s ease;
}

.header-content .menu-carreira-bread :last-child {
    margin-right: 0;
    width: auto;
}

.header-content .menu-carreira-bread :first-child {
    margin-left: 0;
}

.header-content .menu-carreira-bread > a:hover {
    color: #1fe5f5;
    cursor: pointer;
}

.side-menu-container .side-menu-item .icon-pin {
  transform: scale(1.4);
  stroke-width: 0.1;
}

/* SIDE MENU */

@media(min-width: 1024px){
  .side-item:hover .tooltip-side-menu{
    opacity: 1;
  }
  .side-menu-item.hide-mobile{
    display: flex !important;
  }
  /* SIDE MENU */
    .side-menu-container {
      width: 60px;
      height: 100%;
      display: block;

      top: 145px;
      left: 0;
      padding: 0 !important;
    }
    .menu--isActive {
      border-top: none;
      border-left: 4px solid #0AC5D4;
    }
    .side-menu-container .side-menu-item:hover {
		border-top: none;
		border-left: 4px solid #0AC5D4;
	}
    .side-menu-container .side-menu-item {
      width: 60px;
        height: 60px;
        box-sizing: border-box;
      }
    .side-menu-container .side-menu-item svg {
        width: 16px;
      }
      .side-menu-container .side-menu-item svg#assistente{
        width: 30px;
      }

    .side-item {
      flex-wrap: wrap;
    }
  /* SIDE MENU */

  .header-container {
    width: 100%;
    height: 40px;

    display: flex;
    align-items: center;
    flex-wrap: wrap;

    position: fixed;
    top: 75px;
    left: 0;

    background: #1F4F66;
    z-index: 5;
  }
  .header-container {
    height: 70px;
  }
  .expand {
    width: 60px;
    padding: 20px 0;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    cursor: pointer;
  }
    .expand * {
      cursor: pointer;
    }
    .expand svg {
      width: 20px;
      height: 20px;
    }
      .expand svg polygon {
        fill: #0AC5D4;
      }

    .expand label {
      width: 100%;
      margin-top: 3px;
      display: block;
      color: #fff;
      font-size: 6px;
      font-weight: 600;
      text-align: center;
      text-transform: uppercase;
    }

  .header-content-wrapper {
    padding: 0 40px 0 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .header-content {
    text-decoration: none;
  }
    .header-content span,
    .header-content label {
      width: 100%;
      display: block;
    }

  .header-subtitle {
    color: #F7F7F7;
    font-size: 10px;
    font-weight: 500;
  }
  .header-title {
    color: #0AC5D4;
    font-size: 18px;
    font-weight: 600;
  }
}

@media(max-width: 1023px){
  .tooltip-side-menu{
    display: none;
  }
  .side-menu-container .side-menu-item *:not(.tooltip-side-menu) {
    cursor: pointer;
    height: 70% !important;
  }

  .side-menu-container .side-menu-item.assistente *:not(.tooltip-side-menu) {
    cursor: pointer;
    height: 100% !important;
  }
}