
/* Header styles*/

.header {
    background:#BBBBBB;
    padding: 2% 0;
}

.nav-menu {
    width:70%;
    margin:0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

.item-menu {
    text-transform: uppercase;
    color: #000000;
    font-size: 22px;
    font-weight: bold;
    text-decoration: none;
    margin:10px;
}

.nav-menu a:hover {
    color: #C78C19;
    text-decoration: underline;
}

.nav-menu a:active {
    color: #088C19;
}


@media only screen and (max-width: 600px) {
    .nav-menu{
        flex-flow: column wrap;
    }

    .nav-menu img{
        max-height: 200px;
    }
}


/* Main styles*/

.box-container {
    width:80%;
    margin:0 auto;
    padding: 50px 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

.box {
    text-align:center;
    box-sizing: border-box;
    width: 340px;
    margin: 15px;
    padding: 30px;
    border: 3px solid;
    border-radius: 20px;
}

.box:hover {
    border-color: #C78C19;
}

.box:hover h2 {
    font-size:45px;
}

.box:active {
    border-color: #088C19;
}

.box h2 {
    font-size: 40px;
    font-weight: bold;
}

.descricao {
    font-size: 18px;
    margin: 20px;
}

.preco {
    font-size: 22px;
    font-weight: bold;
    margin: 20px;
}


/* Footer styles*/

footer {
    text-align: center;
    background: url(../img/bg.jpg);
    padding: 40px 0;
}

.copyright {
    color: #ffffff;
    font-size: 15px;
    margin: 20px 0 0 0;
}