body {
    font: normal 12pt Arial;
}


div#caixa {
    border-style: solid;
    border-color: rgb(136, 135, 135);
    border-radius: 20px;
    border-width: 5px;
    margin: 2%;
    width: 400px;
    height: 280px;
    background-color: rgb(231, 231, 231);
}

h1 {
    text-align: center;
}