*{
    margin: 0;
    padding: 0;
}

#canvas {
    background-color: #cccccc;
    border: 3px solid;
    width: 600px;
    height: 600px;
    margin: 25px;
}

#arrow {
    width: 300px;
}

#container {
    position: absolute;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

button {
    padding: 10px;
    margin: 10px;
}
    
